.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;

    &__wrapLabel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__wrapLabelColumn {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__tittle {
        font-size: 33px;
        font-weight: 300;
        text-align: center;
    }

    &__subtittle {
        font-size: 20px;
        font-weight: 300;
        color: $Gray;
        text-align: center;
    }

    &__tittleOptions {
        font-size: 26px;
        font-weight: 300;
    }

    &__label {
        font-size: 26px;
        font-weight: 300;
    }

    &__textarea {
        width: 541px;
        height: 202px;
        border-radius: 15px;
        border: 1px solid $Gray;
    }
}

.options {
    &__label {
        font-size: 20px;
        font-weight: 300;
    }
}

.form__item__marginMod {
    margin-bottom: 1.8rem;

}

.form__label_modInput {
    margin-bottom: 1.9rem;
}

.form__tittleOptions_mod {
    margin-top: 0.6rem;
    margin-bottom: 2.4rem;
}

.form__label_modTextarea {
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}

.button-dark_modForm {
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    align-self: center;
}

.form__InputFieldMod {
    border-radius: 40px;
    width: 286px;
    height: 39px;
    border: 1px solid $Gray;
}
.form__wrapLabelColumn_mod{
    margin-top: 2.4rem;
}
