.TittleBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
    }

    &__Gallery {
        width: 100%;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__Right {
        align-self: flex-start;
        flex: 0 0 50%;
        width: 50%;
        @include tablets {
            padding-top: 4.4rem;
            flex: 0 0 100%;
            width: 100%;
        }

        &__tittle {
            font-size: 3.3rem;
            font-weight: 300;
        }

        &__text {
            font-size: 2rem;
            font-weight: 300;
        }

        &__subtittle {
            display: flex;

            &__text {
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }
}


.GalleryImg, .GalleryMainImg{
    filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.25));
}

.ProductDescription {
    display: flex;
    flex-direction: column;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    &__tittle {
        font-size: 3.3rem;
        font-weight: 300;
        padding-bottom: 3.2rem;

        &__peculiarities {
            display: flex;
            flex-direction: column;
            padding-bottom: 3.2rem;
            &__tittle {
                font-size: 2.6rem;
                font-weight: 300;
            }

            &__subtittle {
                display: flex;

                &__text {
                    font-size: 2rem;
                    font-weight: 300;
                }
            }
        }

        &__paragraph {
            font-size: 2rem;
            font-weight: 300;
            padding: 0 0 3.2rem 0;
            margin: 0;
        }
    }
}

.xzoom-thumbs_mod{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 5rem;
    @include container {
        margin-top: 2rem;
        gap: 2rem;
    }

    @include tablets {
        margin-top: 2rem;
        gap: 2rem;
    }

    @include phones {
        margin-top: 1rem;
        gap: 1rem;
    }
}

.TittleBlock__Gallery_mod {
    margin-right: 3.8rem;
}

.button-dark_productMod {
    align-self: center;
    margin-top: 4.8rem;
}

.line_productMod {
    margin-top: 4.8rem;
}

.ProductDescription__tittle__paragraph_last {
    padding: 0;
}

.BackToHome__img_mod {
    margin-right: 1rem;
}

.TittleBlock__Right__subtittle__img_mod {
    margin-right: 1.8rem;
}

.SubImg_mod {
    margin-top: 4.4rem;

    @include container {
        margin-top: 2rem;
    }

    @include laptop {
        margin-top: 4.4rem;
    }

    @include tablets {
        margin-top: 2rem;
    }

    @include phones {
        margin-top: 1rem;
    }
}

.elemSub_mod {
    margin-right: 4.4rem;

    &:last-child {
        margin-right: 0;
    }

    @include container {
        margin-right: 2rem;
    }

    @include laptop {
        margin-right: 4.4rem;
    }

    @include tablets {
        margin-right: 2rem;
    }

    @include phones {
        margin-right: 1rem;
    }
}
.ProductDescription__tittle__peculiarities__subtittle__img_mod{
    margin-right: 2.4rem;
}